* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    width: 100%;
    height: 200vh;
    background-color: rgb(4, 114, 4);
    background-image: url("images/maxresdefault.jpg");
    background-position: contain;
    background-attachment: fixed;
    background-size: center;
    background-blend-mode: screen;
    background-repeat: no-repeat;
}

main h1 {
    background-color: rgba(0, 0, 0, 0.80);
    width: 100%;
    padding: 0 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

}

main section {
    width: 40%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


main section .center {
    width: 100%;
    height: 120px;
}
.error-message1{
    display: flex;
    justify-content: center;
    width: 100%;
}
main section .center .error-message{
    width: 50%;
   
    text-align: center;
    color: red;
    font-size: 14px;
    
}

main section .center .center1 h3 {
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    color: white;
}

main section .center .center1 .input-text {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 50px;

}

main section .center .center1 .input-text input[type=text],
select,
textarea {
    width: 60%;
    border: none;
    outline: none;
    padding: 10px;
    resize: vertical;
    font-weight: bolder;


}

main section .center .center1 .input-text button {
    background-color: green;
    padding: 0 20px;
    border: none;
    color: white;
    font-weight: bolder;
}



.wrap1 {
    display: flex;
    justify-content: space-between;
}

main section .center2 .for-text {
    width: 100%;
    padding: 9px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.75);
}
main section .center2 .for-text:hover{
    background-color:rgba(0, 0, 0, 0.75) ;
    color: white;
    font-size: bold;
}


.text {
    width: 100%;
    display: inline-block;
    padding: 9px;
    position: relative;
    
    

}
.text:hover{
    background-color:rgba(0, 0, 0, 0.75) ;
    color: white;
    font-size: bold;
}

.remove-button {
    position: absolute;
    right: 0;
    border: 1px solid rgb(0, 0, 0, 0.75);
    padding: 10px 10px;

}
.remove-button:hover{
    background-color: rgb(71, 168, 136);
}

.cancel-button {
    border: 1px solid rgb(0, 0, 0, 0.75);
    padding: 9px 10px;

}
.cancel-button:hover{
    background-color: rgb(71, 168, 136);
}


@media screen and (max-width: 610px) {
    main .center .center1 .input-text button {
        padding: 0 5px;
    }
    main section .center .error-message{
        width: 100%;
        font-size: 12px;
    }
}
@media screen and (max-width: 472px) {
    main .center .center1 .input-text button {
        padding: 0 2px;
    }
    main section .center .error-message{
        width: 100%;
        font-size: 12px;
    }
    main section .center {
        width: 100%;
        height: 140px;
}
}
@media screen and (max-width: 300px) {
    main .center .center1 .input-text button {
        padding: 0 2px;
    }
    main section .center .error-message{
        width: 100%;
        font-size: 12px;
    }
    main section .center {
        width: 100%;
        height: 140px;
}
main section .center .center1 .input-text button {
    background-color: green;
    padding: 0 2px;
    border: none;
    color: white;
    font-weight: 200;
}
main section .center .error-message{
    width: 80%;
    font-size: 11px;
}
}